.stages{
    width: 100%;
    padding: 100px 0;

}
.stages-container{
    padding: 10px;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,300px);
    grid-template-areas:
    "st1 st1 st2"
    "st1 st1 st3"
    "st4 st5 st6"
    ;

}
.stages-container div{
    border-radius: 20px;
    background-color: #EAEAEA;
}
.st1{
    grid-area: st1;
    background: url(other-bg.png)center/cover no-repeat ;
    padding: 0 100px;
    position: relative;
}
.st1 img{
    height: 90%;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
}
.st2{
    grid-area: st2;
    position: relative;
}
.stages h2{
    font-size: 8rem;
    color: #0BB6FF;
    position: absolute;
    top: 5px;
    left: 30px;
}
.stages p{
    font-size: 3rem;
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.st3{
    grid-area: st3;
    position: relative;
    background: linear-gradient(50.02deg, #0BB6FF -2.98%, #7E62B3 51.58%, #9452A5 52.7%, #FF055F 100%);
}
.st4{
    grid-area: st4;
    position: relative;
}
.st5{
    grid-area: st5;
    position: relative;
    background: linear-gradient(227.5deg, #0BB6FF 5.18%, #F8964F 60%, #FF055F 100%);
}
.st6{
    grid-area: st6;
    position: relative;
}