footer{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;

}
footer p{
    margin: 15px 15px ;
}
footer a{
    text-decoration: none ;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
