.header{
    height: 100vh;
    background:url(header-bg.png) center/cover no-repeat ;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px ;
}
.header-container{
    max-width: 1200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 500px;
}
.header-left{
    width: 50%;
    height: 100%;
    padding:0 30px ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.header-right{
    width: 50%;
    height: 100%;
    border:5px solid white ;
    background-color: rgba(255, 255, 255, 0.694);
    backdrop-filter: blur(10px);
    border-radius:25px ;
    position: relative;
}
.header-knight{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:25px ;
}
.header-pannel{
    width: 50px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: -25px;
    object-fit: cover;
    border-radius: 15px;
}
.header-icons{
    width: 100px;
    height: 100px;
    border: 4px solid var(--accent-color-2);
    border-radius: 50% ;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.header-icons:hover img{
    transform: translateY(20px);
}
