.portfolio{
    width: 100%;
    padding: 100px 0;
}
.portfolio-container{
    max-width:1200px;
    width: 100%;
    margin: auto;
    padding: 10px;
}
.portfolio-radio1 {
    position: fixed;
    opacity: 0;
}
.portfolio-radio2 {
    position: fixed;
    opacity: 0;
}
.portfolio-radio3 {
    position: fixed;
    opacity: 0;
}
.portfolio-radio1:checked ~ .portfolio-lebels .portfolio1{
    background: var(--main-gradient);
}
.portfolio-radio2:checked ~ .portfolio-lebels .portfolio2{
    background: var(--main-gradient);
}
.portfolio-radio3:checked ~ .portfolio-lebels .portfolio3{
    background: var(--main-gradient);
}
.portfolio-lebels {
    width: 100%;
    display: flex;
    background-color: black;
    border-radius: 20px;
}

.portfolio1 {
    flex-grow: 1;
    color: white;
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
}
.portfolio2 {
    flex-grow: 1;
    color: white;
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
}
.portfolio3 {
    flex-grow: 1;
    color: white;
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
}
.portfolio-fotos {
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 20px;
}
.portfolio-radio1:checked ~ .portfolio-fotos .port-img1{
    width: 100%;
}
.portfolio-radio2:checked ~ .portfolio-fotos .port-img2{
    width: 100%;
}
.portfolio-radio3:checked ~ .portfolio-fotos .port-img3{
    width: 100%;
}
.port-img1{
    width: 0;
    object-fit: cover;
    transition: 0.3s;
}
.port-img2{
    width: 0;
    object-fit: cover;
    transition: 0.3s;
}
.port-img3{
    width: 0;
    object-fit: cover;
    transition: 0.3s;
}
