.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100px;
}
.nav-container {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1400px;
    position: relative;

}
.nav-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    background-color:var(--bg-color) ;
    z-index: 101;
    position: relative;
}
.nav-body::before{
    content: "" ;
    position: absolute;
    bottom: 0px;
    width: 50%;
    height: 4px;
    left: 0;
    background-color: var( --accent-color-2);
}
.nav-body::after{
    content: "" ;
    position: absolute;
    bottom: 0px;
    width: 50%;
    height: 4px;
    right: 0;
    background-color: var( --accent-color-1);
}
.nav-link {
}
.nav-logo {
    width: 150px;
}
.nav-label {
    width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color-1);
    display: block;
    position: relative;
}
.nav-label::before{
    content: url(form-btn--open.svg);
    position: absolute;
    top:50% ;
    transform: translateY(-50%);
    left: 10px;
}
.nav-label::after{
    content: "оставить заявку";
    position: absolute;
    top:50% ;
    transform: translateY(-50%); 
    right: 10px;
    color: rgb(232, 32, 32);
    font-size: 15px;
}
.nav-chekbox:checked ~ .nav-body .nav-label::before{
    content: url(form-btn--close.svg);
    top: 55%;
    
}
.nav-chekbox:checked ~ .nav-body .nav-label::after{
    content: "закрыть";
}

.nav-chekbox:checked ~ .nav-black{
    transform: scaleY(1);
}
.nav-chekbox{
    opacity: 0;
    position: fixed;
}
.nav-black {
    width: 100%;
    transform: scaleY(0);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.5s;
    transform-origin: top;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-form{
    width: 750px;
    height: 500px;
    background-color: var(--white-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-form h2{
    font-size: 3rem;
}
.nav-input{
    width: 70%;
    height: 45px;
    background-color: #EAEAEA;
    border-radius: 15px ;
    margin-top: 50px ;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding-left:20px ;

}
.nav-buttom{
    width: 220px;
    height: 65px;
    border-radius:15px ;
    margin-top: 40px;
    color: white;
    background-color: #0BB6FF;
    border: none;
    outline: none;
    font-size:1rem ;
}
.nav-buttom:hover{
    background-color:#0687be ;
}